<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contentImageName</key>
		<string>image0.jpg</string>
		<key>userName</key>
		<string>Tessmile</string>
		<key>headImageName</key>
		<string>head0.jpg</string>
		<key>content</key>
		<string>天热没胃口，就喜欢吃各种凉面，今天就来个鸡丝凉面吧。
面条我用的是超市买的普通鲜面，鸡肉取自鸡腿，鸡胸肉也可以，但是鸡腿肉比鸡胸肉更嫩更好吃，蔬菜我只放了黄瓜丝，再加点豆芽、胡萝卜什么也很好哦。#不可辜负的美食# @鲜城</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>image1.jpg</string>
		<key>userName</key>
		<string>十年</string>
		<key>headImageName</key>
		<string>head1.jpg</string>
		<key>content</key>
		<string>大学宿舍一姐们，是无锡人。常念叨阳山的水蜜桃如何好。这些年吃北方的桃，吃的是一个脆。今年也从网上买水蜜桃，送到了外皮是好的，桃肉已经碰伤了。昨儿在上海高铁站，见有卖的，略挣扎，立刻买了一箱。八个。不用洗，轻轻撕开桃皮，一整只，粉嫩饱满，芬芳晶莹。吮吸入口，桃汁喷涌。真幸福。</string>
	</dict>
	<dict>
		<key>content</key>
		<string>【1岁以内婴儿养育应该遵循的生长发育规律】大家都希望自己的宝宝聪明健康，但培养孩子千万不能过于心切、拔苗助长哦！来看看顺应婴儿发育特点的养育方法，帮助他们健康成长吧！ 转</string>
		<key>headImageName</key>
		<string>head2.jpg</string>
		<key>userName</key>
		<string>小娜娜</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>image3.jpg</string>
		<key>headImageName</key>
		<string>head3.jpg</string>
		<key>content</key>
		<string>卧槽，失忆后的奥特曼要上天啊，怪兽脸上一个大写的懵逼，还我童年！[doge]</string>
		<key>userName</key>
		<string>Lily</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>image4.jpg</string>
		<key>headImageName</key>
		<string>head4.jpg</string>
		<key>content</key>
		<string>如果我們不曾相遇
我會是在哪裡？
#如果我们不曾相遇#</string>
		<key>userName</key>
		<string>我的未来不是梦</string>
	</dict>
	<dict>
		<key>content</key>
		<string>女人不在乎对错，在乎你的态度。</string>
		<key>userName</key>
		<string>程序缘</string>
		<key>headImageName</key>
		<string>head5.jpg</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>image6.jpg</string>
		<key>content</key>
		<string>独乐，是一个人独处时也能欢喜，因为有心灵与生命的充实；独醒，是不为众乐所迷惑，众人都认同的生活方式，往往不一定适合我们。每个人都有伤心的地方，但是每个人的伤心都不一样。每一朵花都是安静地来到这个世界，又沉默离开，若我们倾听，也许发觉，在安静中仿佛有深思，而在沉默里也有美丽的雄辩。</string>
		<key>headImageName</key>
		<string>head6.jpg</string>
		<key>userName</key>
		<string>美丽心情</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>image7.jpg</string>
		<key>content</key>
		<string>要是还不知道怎么好好地把厨房装修好，就来看这里吧，这里有你需要的</string>
		<key>headImageName</key>
		<string>head7.jpg</string>
		<key>userName</key>
		<string>Mr. 欢</string>
	</dict>
	<dict>
		<key>content</key>
		<string>水一旦流深，就会发不出声音。人的感情一旦深厚，也就会显得淡薄</string>
		<key>userName</key>
		<string>森森</string>
		<key>headImageName</key>
		<string>head8.jpg</string>
	</dict>
	<dict>
		<key>contentImageName</key>
		<string>image9.jpg</string>
		<key>headImageName</key>
		<string>head9.jpg</string>
		<key>content</key>
		<string></string>
		<key>userName</key>
		<string>东邪西毒</string>
	</dict>
</array>
</plist>
